<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MobileApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApplication" >



        <activity android:name=".ui.tasks.CreateTaskActivity" android:exported="true" />
        <activity android:name=".ui.tasks.TaskDetailActivity"/>
        <activity android:name=".ui.tasks.CalendarActivity"/>
        <activity android:name=".ui.tasks.TaskListActivity" android:exported="true"/>
        <activity android:name=".ui.HomeActivity" android:exported="true" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="true" />
        <activity android:name=".ui.profile.ProfileActivity" android:exported="true" />
        <activity android:name=".ui.profile.StatisticsActivity" android:exported="true" />
        <activity android:name=".ui.tasks.CategoryListActivity" />
        <activity android:name=".ui.boss.BossFightActivity" android:exported="true" />
        <activity android:name=".ui.equipment.StoreActivity" android:exported="true"/>
        <activity android:name=".ui.equipment.EquipmentInventoryActivity" android:exported="true"/>
        <activity android:name=".ui.friends.FriendsActivity" android:exported="true"/>
        <activity android:name=".ui.friends.AllianceActivity" android:exported="true"/>
        <receiver android:name=".domain.serviceImpl.AllianceInviteReceiver" />

        <activity android:name=".ui.auth.LoginActivity" android:exported="true">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




    </application>


</manifest>